<div class="band navigation">
  <div class="row">
    <div class="three columns button button-primary">
      <p><a href="/groups/<%= @group.id %>/chat">Chat</a></p>
    </div>
    <div class="three columns button button-primary button-selected">
      <p><a href="/groups/<%= @group.id %>/map">Map</a></p>
    </div>
    <div class="three columns button button-primary">
      <p><a href="/groups/<%= @group.id %>/photos">Photos</a></p>
    </div>
    <div class="three columns button button-primary">
      <p><a href="/groups/<%= @group.id %>">Info</a></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col span_12">
    <div id="map-canvas" data-group-id="<%=@group.id%>", data-user-id="<%=current_user.id%>">
    </div>
  </div>
</div>

<div id="landmark">calculating distance from landmark...</div>

<script>
  <%= render "map.js" %>
  <%= render "calculate_distance.js" %>
</script>
